#wrapper {
	width: 1280px;
	height: auto;
	margin: 0 auto;
}

.nav-bar {
	width: 100%;
	height: 100px;	
	border-bottom: 1px solid #ebebeb;
}

.nav-bar ul {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 40px;
}

.nav-bar ul > li {
	display: inline-block;
	padding: 0px 30px 0px 30px;
}

.nav-bar a {
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #bebdbd;
	letter-spacing: 1.5px;
}

.nav-bar a:hover {
	transition: .2s;
	color: black;
}

#active {
	font-family: Roboto-Bold;
	color: #ff9f43;
}

.hero {
	width: 100%;
	height: 584px;
	background-image: url(../images/o-nama-background.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;	
}

.strong-title {
	font-family: Roboto-Light;
	font-size: 40px;
	color: #4d4c4c;
	letter-spacing: 1.6px;
	margin-top: 20px;
	margin-left: 270px;
}

.content-left {
	float: left;
	width: 50%;
	height: 100%;
}

.content-left .logo {
	margin-top: 120px;
}

.title {
	font-family: Roboto-Light;
	font-size: 50px;
	color: #4e4e4e;
	text-align: left;
	margin-top: 60px;
	letter-spacing: 1.5px;
}

.sub-title {
	font-family: Roboto-Light;
	font-size: 16px;
	color: #6a6a6a;
	line-height: 220%;
	letter-spacing: 1.4px;
	margin-top: 20px;
}

.proizvodi {
	transition: .4s;
	margin-top: 30px;
	width: 195px;
	height: 52px;
	background-color: #91c544;
	border: none;
	color: white;
	font-family: Roboto-Bold;
	font-size: 10px;
	letter-spacing: 2.4px;
	cursor: pointer;
}

.proizvodi:hover{
	transition: .4s;
	color: #91c544;
	background: none;
	border: 2px solid #91c544;
}

.m-fix {
	margin-left: 195px;
}

.line {
	width: 1px;
	height: 130px;
	background: #dfdfdf;
	margin-left: 290px;
	border: none;
	margin-top: 40px;
}

.proizvodi-wrapper {
	width: 920px;
	height: auto;
	margin: 0 auto;
	margin-top: -85px;
	background: white;
	-webkit-box-shadow: 0px -1px 21px 1px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px -1px 21px 1px rgba(0,0,0,0.06);
	box-shadow: 0px -1px 21px 1px rgba(0,0,0,0.06);
}

.footer {
	width: 100%;
	height: 140px;
}

.left-footer {
	float: left;
}

.copyright {
	font-family: Roboto-Medium;
	font-size: 11px;
	color: #7a7a7a;
	letter-spacing: 1.5px;
	line-height: 140px;
	margin-left: 40px;
}

.footer ul {
	float: right;
	width: auto;
	height: auto;
	margin-top: 55px;
	margin-right: 20px;
}

.footer ul > li {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}

.footer ul > li > a {
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #bebdbd;
	letter-spacing: 1.5px;
}

.footer ul > li > a:hover {
	transition: .2s;
	color: black;
}

.footer ul > li > .sec-act {
	color: #ff9f43;
	font-family: Roboto-Bold;
}

#menu {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 40px;
	top: 35px;
	cursor: pointer;
	display: none;
}

.helper-text {
	font-size: 18px;
	color: #8b8b8b;
	letter-spacing: 1.8px;
	font-family: Roboto-Regular;
	line-height: 250%;
	display: none;
}

#modal {
	width: 100%;
	height: 100%;
	position: fixed;
	background: white;
	top: -100%;
	left: 0px;
	z-index: 100;
}

#close {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 40px;
	right: 40px;
}

#modal ul {
	width: 100%;
	height: auto;
	margin-top: 150px;
	text-align: center;
}

#modal ul > li {
	margin-top: 40px;
}

#modal ul > li > a {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #bebdbd;
	letter-spacing: 1.5px;
}

#modal ul > li > #fix-act {
	font-family: Roboto-Bold;
	color: #91c544;
}

#close {
	cursor: pointer;
}

.about-t {
	color: #696969;
	font-size: 18px;
	font-family: Roboto-Bold;
	letter-spacing: 1.2px;
	margin-top: 70px;
	margin-left: 60px;
}

.about-p {
	margin-left: 60px;
	margin-top: 30px;
	letter-spacing: 1.4px;
	font-family: Roboto-Regular;
	line-height: 260%;
	color: #5f5e5e;
	margin-bottom: 40px;
}